---
import { type CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";

export interface Props {
  pages: CollectionEntry<"workshopPages">[];
  activePageId: string;
  headings: MarkdownHeading[];
}

const { pages, headings, activePageId } = Astro.props;
const drawerId = "workshop-drawer";
---

<div class="drawer lg:drawer-open">
  <input id={drawerId} type="checkbox" class="drawer-toggle" />
  <div class="drawer-content block w-full">
    <!-- Page content here -->

    <slot />
    <label
      for={drawerId}
      class="btn btn-primary drawer-button fixed top-4 left-4 z-50 lg:hidden"
    >
      <Icon name="ri:list-check" class="h-6 w-6" /> 目次
    </label>
  </div>
  <div class="drawer-side">
    <label for={drawerId} aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <div
      class="menu bg-base-200 text-base-content min-h-full w-80 pt-16 pb-8 lg:pt-4"
    >
      <h2 class="menu-title mb-4 flex items-center gap-2 text-lg font-bold">
        <Icon name="ri:list-check" class="h-6 w-6" /> 目次
      </h2>
      <ul class="list space-y-1">
        {
          pages.map((page) => (
            <li class="list-item">
              <a
                href={`/workshops/${page.id}`}
                class:list={[
                  "py-3 font-bold",
                  page.id === activePageId
                    ? "bg-primary text-primary-content"
                    : "border-primary border-2",
                ]}
              >
                {page.data.title}
              </a>
              {page.id === activePageId && headings.length > 0 ? (
                <ul class="mt-2 ml-4 list-disc">
                  {headings.map((heading) => (
                    <li>
                      <a
                        href={`#${heading.slug}`}
                        class:list={[
                          "hover:underline",
                          heading.depth == 3 ? "ml-4 text-xs" : "",
                        ]}
                      >
                        {heading.text}
                      </a>
                    </li>
                  ))}
                </ul>
              ) : null}
            </li>
          ))
        }
      </ul>

      <div class="mt-4">
        <a href="/workshops" class="btn btn-outline btn-primary w-full">
          <Icon name="ri:arrow-left-double-fill" class="h-6 w-6" /> 全てのワークショップへ
        </a>
      </div>
    </div>
  </div>
</div>
